
@font-face {
    font-family:big-pro ;
    src: url(./Assets/Freight\ Big\ Light\ SC.otf);
}

@font-face {
    font-family: light ;
    src: url(./Freight_Big_Pro/Freight_Big_Pro/Freight\ Big\ Pro\ Light\ Italic.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: #121110;
    position: fixed;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#loader h1{
    font-size: 7vw;
    line-height: 4.5vw;
    font-weight: 300;
    font-family: big-pro;
    letter-spacing: -3px;
    z-index:9 ;
}

#loader em {
    font-family:light;
    text-transform: lowercase;
}


#loader span{
    font-family: big-pro;
    font-size: 7vw;
    font-weight: 300;
    text-transform: uppercase;
}

#yellow1{
    height: 100vh;
    width: 100vw;
    background-color: #F5E41B;
    position: absolute;
    z-index:8;

}
#yellow2{
    height: 100vh;
    width: 100vw;
    background-color: #F5E41B;
    position: absolute;
    z-index:7;

}

#loader video {
    height: 100vh;
    width: 100vw;
    position: absolute;
    object-fit: cover;
    z-index:6 ;
}



#page1{
    height: 100vh;
    width: 100vw;
    background-color: #F5E41B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page1 h1{
    font-size: 7vw;
    line-height: 4.5vw;
    font-weight: 300;
    font-family: big-pro;
    letter-spacing: -3px;
}

#page1 em {
    font-family:light;
    text-transform: lowercase;
}


#page1 span{
    font-family: big-pro;
    font-size: 7vw;
    font-weight: 300;
    text-transform: uppercase;
}


#page2{
    height: 100vh;
    width: 100vw;
    background-color: rgb(126, 110, 110);
}

#page3{
    height: 100vh;
    width: 100vw;
    background-color: rgb(14, 32, 32);
}
